#show_section {
    min-height: 110vh;
    background-color: rgb(22, 22, 22);
}

#show_section > .wrapper {
    height: 10vh;
    padding: 0;
    align-items: center;
    flex-direction: column;
    
}

#downBtn {
    border-radius: 50%;
    height: 4rem;
    width: 4rem;
    font-weight: bolder;
    border-color: rgb(255, 94, 0, 0);
    background-color: rgb(22, 22, 22);
    color: rgb(100, 16, 168);
    font-size: xx-large;
    transition: 0.3s;
    align-items: center;
    
}

#btnWrapper {
    background-color: rgb(100, 16, 168);
    height: 5rem;
    width: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transform: translateY(-2rem);
    margin: auto;
}

#downBtn:hover {
    border-color: rgb(100, 16, 168);
    cursor: pointer;
    transform: scale(150%);
  }
  
  #showTitle {
      border-bottom: 1px solid rgb(100, 16, 168);
      width: 100%;
      margin-top: 5vh;
      font-size: 35px;
    color: white
}

.gameWrapper {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.container {
    width: 95%;
    background-color: rgb(15, 15, 15, 0.8);
    border-radius: 10px;
    border-top-left-radius: 0;
}
