nav {
    height: 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr) 10fr;
    align-items: center;
    background-color: black;
}

.nav-link {
    text-decoration: none;
    color: white;
    font-size: 20px;
}

.nav-link:hover {
    text-decoration: underline;
}

#login {
    justify-self: end;
    margin-right: 10%;
}

#logout {
    justify-self: end;
    margin-right: 10%;
}